body {
  background-color: #ffffff;
  font-style: calibri;
  font-family: sans-serif;
  margin: 60px 60px 60px 60px;
  padding: 10px 10px 10px 10px;
  font-size: 3em;
}

header {
  background-color: #564e51;
  font-size: 1em;
  color: #ffffff;
  margin: 0px 5px 5px 5px;
  padding: 5px 5px 5px 15px;
}

.photo {
display: flex;
justify-content: center;
}

nav {
  font-size: 0.5em;
  margin: 1px 0px 10px 0px;
}

footer {
  background-color: #564e51;
  font-size: 0.7em;
  margin: 50px 0px 0px 0px;
  color: #ffffff;
}

.block {
  background-color: #ebeef0;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0px 0px 0px 15px;
}

.column {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.padding {
  padding: 10px 30px 30px 30px;
}

.is-brown {
  color:#564e51;
  font-size: 0.7em;
}

.is-orange {
  color:#e1bb9e;
  font-size: 0.7em;
}

h3 {
  font-size: 1em;
  color: #e1bb9e;
  margin: 30px 0px 10px 0px;
}

p {
 font-size: 0.5em;
 color: #564f51;
 margin: 0px 0px 5px 0px;
 text-align: justify;
}

ul {
  font-size: 0.5em;
  color: #564f51;
  margin: 0px 0px 15px 0px;
}

.nom {
  font-size: 1em;
  color: #e1bb9e;
  font-weight: bolder;
  margin: 0px 0px 20px 0px;
  display: flex;
  justify-content: center;
}

.is-white {
  color: #ffffff;
  list-style-type: none;
  padding: 0;
  font-size: 0.7em;
}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1024px) {
  .columns {
    max-width: 2000px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
  }

  .is-1 {
    width: 30%;
  }

  .is-2 {
    width: 70%;
  }
}